// Configuration
@import "functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "utilities";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";


.loaderArea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem auto;
}
.loader {
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid;
    border-color: $black #0000;
    animation: loader 1s infinite;
}
.border-color-white {
    border-color: $white #0000;
}

@keyframes loader {
    to {
        transform: rotate(.5turn);
    }
}

.max-vh-80 {
    max-height: 80vh;
}

#btnBackToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
#followBtn, #newPostBtn {
    display: none;
}
#followBtn {
    width: fit-content;
}
.fit-content {
    width: fit-content;
}

// when register, show guidelines
.help {
    display: none;
}
input:invalid + .help {
    display: block;
}

// hover effect
.custom-hover:hover {
    color: #fff; 
    background-color: #f8f9fa; 
  }

.custom-max-width {
    max-width: 400px;
}